@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "General Sans", sans-serif;
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
}

@layer base {
  @font-face {
    font-family: 'general';
    src: url('../app/fonts/general.woff2') format('woff2');
  }

  @font-face {
    font-family: 'zentry';
    src: url('../app/fonts/zentry-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'geistmono';
    src: url('../app/fonts/GeistMonoVF.woff') format('woff');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
